.class1
{
    padding: 7rem;
    margin-left: 30rem;
}

.image{
  background-image: url('../assets/img/Background_form.png') !important;
  background-repeat: no-repeat;

}

@media only screen and (max-width: 1000px) {
  .image
  {
    background-image: none !important;
  }
  .class1
  {
    transform: translate(-50%,0%);
  }
}
@media screen  and (min-width: 0px) and (max-width: 800px)
{

    .class1
    {
        padding: 7rem;
        margin-left: 50vw;
    }
}